EXTERNAL_HOOK_FILES=../../../hooks/hook.js
NODE_FUNCTION_ALLOW_EXTERNAL=@deepopinion/n8n-data-layer-client

DATA_LAYER_BASE_URL=http://localhost:8090
CONTROL_HUB_BASE_URL=http://localhost:8080

OVERRIDE_WORKSPACE_ID=default-workspace
OVERRIDE_BUSINESS_APP_ID=default-business-app
